{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <div id="lottie-container" style="width: 250px; height: 250px; margin: 0 auto;"></div>
            <h2 class="mt-3"><strong>Hello, I'm Muhammed Mustafa Geldi. I am a junior developer, and this is my web project that I developed using Django and Python.</strong></h2>
            <a href="https://github.com/muhammedmustafageldi" class="btn btn-primary mt-3" target="_blank">Go to my Github</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/lottie-web@5.7.8"></script>
<script>
    var animation = lottie.loadAnimation({
        container: document.getElementById('lottie-container'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '{% static 'anim/developer.json' %}',  
    });
</script>

{% endblock %}

{% block cart_count %}
    {% if cart_count %}
        <span class="badge bg-danger position-fixed top-0 start-100 translate-middle p-2">
            {{ cart_count }}
        </span>
    {% endif %}
{% endblock %}
